$header-height: 3rem;

:root {
    --color-primary: #3b71ca;
    --color-secondary: #9fa6b2;
    --color-success: #14a44d;
    --color-danger: #dc4c64;
    --color-warning: #e4a11b;
    --color-info: #54b4d3;
    --color-dark: #332d2d;
    --color-light: #fbfbfb;
}
