{
    "bracketSameLine": true,
    "singleAttributePerLine": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "printWidth": 120,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none"
}
