<dx-popup
    [deferRendering]="deferRendering"
    [dragEnabled]="false"
    [fullScreen]="fullScreen"
    [height]="height"
    [hideOnOutsideClick]="hideOnOutsideClick"
    [position]="position"
    [showCloseButton]="showCloseButton"
    [showTitle]="!!title && !headerTemplate"
    [title]="title"
    [titleTemplate]="headerTemplate"
    [width]="width"
    [(showCloseButton)]="showCloseButton"
    [(visible)]="visible"
    (onHidden)="onPopupHidden($event)"
    (onHiding)="onPopupHiding($event)"
    (onShowing)="onPopupShowing($event)"
    (onShown)="onPopupShown($event)">
    <div *dxTemplate="let data of 'content'">
        <div>
            <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
        </div>

        <div>
            <dx-scroll-view>
                <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
            </dx-scroll-view>
        </div>

        <div>
            @if (footerTemplate) {
                <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
            } @else {
                <div class="flex gap-2">
                    <app-button
                        *ngIf="saveButtonOptions.visible"
                        [disabled]="saveButtonOptions.disabled"
                        [isLoading]="saveButtonOptions.isLoading"
                        [text]="saveButtonOptions.text ?? 'Save'"
                        [type]="saveButtonOptions.type ?? 'primary'"
                        [width]="saveButtonOptions.width ?? 'auto'"
                        (clicked)="onSave()">
                    </app-button>

                    <app-button
                        *ngIf="cancelButtonOptions.visible"
                        [disabled]="cancelButtonOptions.disabled"
                        [isLoading]="cancelButtonOptions.isLoading"
                        [text]="cancelButtonOptions.text ?? 'Cancel'"
                        [type]="cancelButtonOptions.type ?? 'secondary'"
                        [width]="cancelButtonOptions.width ?? 'auto'"
                        (clicked)="onCancel()">
                    </app-button>

                    <app-button
                        *ngIf="deleteButtonOptions.visible"
                        class="ml-auto"
                        [disabled]="deleteButtonOptions.disabled"
                        [isLoading]="deleteButtonOptions.isLoading"
                        [text]="deleteButtonOptions.text ?? 'Save'"
                        [type]="deleteButtonOptions.type ?? 'primary'"
                        [width]="deleteButtonOptions.width ?? 'auto'"
                        (clicked)="onDelete()">
                    </app-button>
                </div>
            }
        </div>
    </div>
</dx-popup>
