<dx-popover
    #popover
    [position]="position"
    [shading]="false"
    [showCloseButton]="true"
    [showTitle]="!!title"
    [title]="title"
    [width]="width"
    (onHidden)="onHidden()">
    <div *dxTemplate="let data of 'title'">
        {{ title }}
    </div>

    <div *dxTemplate="let data of 'content'">
        <div class="flex justify-center">
            <div>
                <div
                    class="text-center mb-3"
                    [innerHTML]="message"></div>

                <div class="flex items-center gap-2">
                    <app-button
                        text="Yes"
                        (clicked)="onConfirm()">
                    </app-button>

                    <app-button
                        text="No"
                        (clicked)="onCancel()">
                    </app-button>
                </div>
            </div>
        </div>
    </div>
</dx-popover>
