@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts/Inter/Inter_Regular.scss');
@import url('./fonts/Inter/Inter_Medium.scss');
@import url('./fonts/Inter/Inter_SemiBold.scss');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    font-family: 'Inter Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}
